<section class="popular-news indent">
    <div class="container">
        <h2 class="section-title">Популярные новости</h2>
        <ul class="news__list">
            <li class="news-card">
                <time class="news-card__date" datetime="2022-04-05">5 апреля, 2022</time>
                <h3 class="news-card__name">
                    <a class="news-card__link" th:href="@{/news-details}">
                        Учимся правильно готовить кондитерские изделия
                    </a>
                </h3>
                <p class="news-card__description">
                    В этой статье мы научим вас приготавливать в домашних условиях различные вкусности которые
                    создаются кондитерами
                </p>
            </li>
            <li class="news-card">
                <time class="news-card__date" datetime="2022-05-10">10 мая, 2023</time>
                <h3 class="news-card__name">
                    <a class="news-card__link" th:href="@{/news-details}">
                        Как открыть правильно кондитерскую без больших затрат
                    </a>
                </h3>
                <p class="news-card__description">
                    Мы хотим вам рассказать о том, как открывать новую кондитерскую без высоких затрат,
                    прогорании и критических ошибок
                </p>
            </li>
            <li class="news-card">
                <time class="news-card__date" datetime="2022-05-25">25 мая, 2023</time>
                <h3 class="news-card__name">
                    <a class="news-card__link" th:href="@{/news-details}">
                        Открытие кондитерской «Тройка» после масштабной реконструкции
                    </a>
                </h3>
                <p class="news-card__description">
                    «Тройка» объединила в одном пространстве сразу две оригинальные концепции, построенные на
                    контрасте: первый зал с магазином раскрывает тему ночи, а светлый обеденный зал — день
                </p>
            </li>
            <li class="news-card">
                <time class="news-card__date" datetime="2022-05-28">28 мая, 2023</time>
                <h3 class="news-card__name">
                    <a class="news-card__link" th:href="@{/news-details}">
                        Гайд как сделать красивый свадебный торт с цветами
                    </a>
                </h3>
                <p class="news-card__description">
                    Свадебный торт – одна из немногих традиций, от которой не отказываются современные
                    молодожены. Кроме приятного финала ужина, это еще и красивый символ
                </p>
            </li>
        </ul>
    </div>
</section>