<section class="unique indent">
    <div class="container">
        <h2 class="section-title">Индивидуальный заказ</h2>
        <div class="unique__info">
            <div class="unique__content">
                <h3 class="unique__title">
                    Сделайте ваше событие по-настоящему особенным с индивидуальным заказом
                </h3>
                <div class="unique__content-text">
                    <p>
                        В нашей кондитерской мы предлагаем вам уникальную возможность заказать индивидуальные
                        десерты,
                        созданные специально для особых событий в вашей жизни. Мы полностью погружаемся в ваше
                        видение и
                        работаем над каждой деталью, чтобы сделать ваше событие по-настоящему незабываемым
                    </p>
                    <p>
                        Наша команда профессиональных кондитеров с радостью примет вызов создания индивидуального
                        десерта, отвечающего вашим пожеланиям и предпочтениям. Мы готовы обсудить различные варианты
                        дизайна, форм, вкусовых сочетаний и текстур, чтобы создать десерт, который отражает вашу
                        уникальность и стиль
                    </p>
                    <p>
                        При сотрудничестве с нами, вы можете ожидать индивидуального подхода и внимания к каждой
                        детали
                        вашего заказа. Мы с удовольствием поможем вам выбрать оптимальный размер, форму и оформление
                        десерта, чтобы он идеально вписывался в тематику вашего события
                    </p>
                    <p class="unique__application">
                        Заполнить заявку можно на <a th:href="@{/unique}">нашей странице</a>
                    </p>
                    <p class="unique__price">Начальная цена индивидуального заказа - 8000₽</p>
                </div>
            </div>
            <img class="unique__img" src="images/unique.png" alt="" width="540" height="675">
        </div>
        <ul class="unique__steps">
            <li class="unique__step">
                <h4 class="unique__name">#1 - начало</h4>
                <p class="unique__description">Вы отправляете заявку на нашем сайте по созданию уникального
                    торта</p>
            </li>
            <li class="unique__step">
                <h4 class="unique__name">#2 - обсуждение заказа</h4>
                <p class="unique__description">В дальнейшем мы с вами свяжемся чтобы обсудить детали заказа</p>
            </li>
            <li class="unique__step">
                <h4 class="unique__name">#3 - изготовление заказа</h4>
                <p class="unique__description">Мы изготавливаем ваш заказ и в дальнейшем вы его забираете к себе</p>
            </li>
        </ul>
    </div>
</section>