<!DOCTYPE html>
<html lang="ru" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head"></head>

<body class="body">
<header th:replace="fragments/header"></header>
<main>
    <section class="about-page indent">
        <div class="container">
            <div class="about-page__inner">
                <div class="about-page__content">
                    <h1 class="about-page__title page-title">
                        О компании
                    </h1>
                    <div class="about-page__text">
                        <p>
                            Sweet Alchemy – это о домашней кондитерской
                        </p>
                        <p>
                            Мы готовим только из качественных, свежих продуктов, без маргарина, консервантов,
                            стабилизаторов, загустителей, яичных порошков, усилителей вкусов, добавок и заменителей
                        </p>
                        <p>
                            Посмотрев на опыт наших родителей и других людей старше, мы своевременно озаботились
                            вопросами здоровья, питания и потребления. Анализируя литературу, кино и личный опыт мы
                            пришли к тому, что продукты питания – не просто топливо для тела, а неотъемлемая часть
                            образа жизни человека
                        </p>
                        <p>
                            Кондитерское дело для нас не просто работа, это не хобби, для нас это страсть, мы вкладываем
                            в каждый торт свою душу
                        </p>
                    </div>
                </div>
                <img class="about-page__img" src="images/about/1.jpg" width="600" height="600"
                     alt="О компании кондитерская">
            </div>
        </div>
    </section>
    <section class="about-benefits indent">
        <div class="container">
            <h2 class="about-benefits__title section-title">
                Почему люди заказывают у нас?
            </h2>
            <ul class="about-benefits__list">
                <li class="about-benefits__item">
                    <img class="about-benefits__img" src="images/about/1.svg" alt="глютен" width="56" height="96">
                    <h3 class="about-benefits__name">
                        Никакого глютена
                    </h3>
                    <p class="about-benefits__text">
                        Мы используем только муку без содержания глютена
                    </p>
                </li>
                <li class="about-benefits__item">
                    <img class="about-benefits__img" src="images/about/2.svg" alt="кондитерская торты" width="118"
                         height="96">
                    <h3 class="about-benefits__name">
                        Всегда в наличии
                    </h3>
                    <p class="about-benefits__text">
                        Любой торт, который мы производим доступен каждый день
                    </p>
                </li>
                <li class="about-benefits__item">
                    <img class="about-benefits__img" src="images/about/3.svg" alt="упаковка торт" width="89"
                         height="96">
                    <h3 class="about-benefits__name">
                        Красивая упаковка
                    </h3>
                    <p class="about-benefits__text">
                        Делаем надпись от руки шоколадом или кремом бесплатно на любой торт
                    </p>
                </li>
                <li class="about-benefits__item">
                    <img class="about-benefits__img" src="images/about/4.svg" alt="торт цены" width="60" height="96">
                    <h3 class="about-benefits__name">
                        Доступные цены
                    </h3>
                    <p class="about-benefits__text">
                        В нашем магазине доступный люкс - это реальность, мы лучше конкурентов
                    </p>
                </li>
                <li class="about-benefits__item">
                    <img class="about-benefits__img" src="images/about/5.svg" alt="торты кондитерская" width="96"
                         height="96">
                    <h3 class="about-benefits__name">
                        Собственное производство
                    </h3>
                    <p class="about-benefits__text">
                        Мы исключительно сами производим все что есть в нашей кондитерской
                    </p>
                </li>
                <li class="about-benefits__item">
                    <img class="about-benefits__img" src="images/about/6.svg" alt="кондитерская работа" width="63"
                         height="96">
                    <h3 class="about-benefits__name">
                        Профессионализм работы
                    </h3>
                    <p class="about-benefits__text">
                        Наши кондитеры делают все торты с отличным энтузиазмом и с огоньком
                    </p>
                </li>
            </ul>
        </div>
    </section>
    <section class="about-history indent">
        <div class="container">
            <h2 class="section-title">
                Немного нашей истории
            </h2>
            <div class="about-history__text">
                <div class="about-history__column">
                    <p>
                        Для нас «Сладкая Алхимия» ― это, прежде всего, история. Каждый день мы трудимся для того, чтобы
                        сберечь легендарные традиции советского кондитерского дела. Пирожные «Картошка»,
                        «Ленинградское», торты «Птичье молоко», «Театральный», и еще десятки названий, с которыми
                        связаны самые теплые воспоминания из детства... ― мы готовим их сегодня, как и десятки лет
                        назад, используя натуральные ингредиенты ― свежайший шоколад, сгущенное молоко, натуральные
                        сливки и, конечно же, сливочное масло. Продукты проходят строгий контроль качества ― так,
                        например, вареное сгущеное молоко мы заказываем аж в Мордовии
                    </p>
                    <p>
                        Более 40 позиций меню ― это пирожные и торты, придуманные в 50-е ― 70-е годы легендарными
                        советским технологами. В них вы узнаете любимые ностальгические вкусы: песочное тесто, нежные
                        бисквиты, масляный крем, суфле
                    </p>
                    <p>
                        Вторая часть меню ― популярные современные разработки: сливочно-сырные крема, легкие воздушные
                        муссы, йогуртовые суфле, сочные начинки из свежих ягод и фруктов
                    </p>
                    <p>
                        Мы честно публикуем состав на упаковке. Из-за большого потока производства, доставляем торты в
                        магазины и кафе только что приготовленными ― чтобы вы насладились их свежестью
                    </p>
                </div>
                <div class="about-history__column">
                    <p>
                        «Сладкая Алхимия» ― это две полуторавековые истории, которые в 2007-м слились в одну. Сегодня
                        компания объединяет завод кондитерских изделий и более 100 кофеен в Петербурге, которые
                        развиваются по франшизе. В 2007 году мы построили здание нового завода на Выборгской стороне и
                        оснастили его современным европейским оборудованием. На фабрике с территорией более 6,5 тыс. кв.
                        метров трудится более 700 специалистов. В 2014 году получили международный сертификат
                        производства по системе менеджмента безопасности пищевой промышленности ISO 22000:2005.
                    </p>
                    <p>
                        Мы делаем все для того, чтобы вы могли приобрести любимые пирожные и торты в любой точке города
                        и были довольны их вкусом, составом и свежестью
                    </p>
                    <p>
                        Ностальгические вкусы из детства ― своего рода визитная карточка города, наша миссия бережно их
                        хранить. Сегодня кондитерская «Север-Метрополь» входит в «Красную книгу памятных мест
                        Санкт-Петербурга» и не подлежит перепрофилированию
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section th:replace="fragments/contacts"></section>
</main>
<footer th:replace="fragments/footer"></footer>
<script th:src="@{/js/main.min.js}"></script>
<script th:src="@{/js/tabs.js}"></script>
</body>
</html>