<!DOCTYPE html>
<html lang="ru" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head"></head>

<body class="body">
<header th:replace="fragments/header"></header>
<main>
    <section class="catalog indent">
        <div class="container">
            <h1 class="page-title page-title--indent">Наш каталог тортиков</h1>
            <form class="catalog__search" action="">
                <label for="search-cake">
                    <input type="text" class="catalog__field" id="search-cake" placeholder="Введите текст">
                </label>
            </form>
            <button class="catalog__btn" onclick="modal_addCake()" sec:authorize="hasAuthority('Администратор') or hasAuthority('Модератор каталога')">
                Добавить товар
            </button>
            <ul class="catalog__list">
                <th:block th:if="${cakes.isEmpty()}">
                    <p>Тортов нет, создайте их</p>
                </th:block>
                <th:block th:each="cake: ${cakes}">
                    <li class="catalog__item">
                        <div class="card">
                            <ul class="card__admin" sec:authorize="hasAuthority('Администратор') or hasAuthority('Модератор каталога')">
                                <li class="card__admin-item" onclick="modal_EditCake(event)">
                                    <button class="card__admin-btn" id="button-open-edit_cake"
                                            th:data-cake-id="${cake.id}"
                                            th:data-cake-name="${cake.name}"
                                            th:data-cake-price="${cake.price}"
                                            th:data-cake-description="${cake.description}"
                                            th:data-cake-composition="${cake.composition}"
                                            th:data-cake-calories="${cake.calories}"
                                            th:data-cake-weight="${cake.weight}"
                                            th:data-cake-protein="${cake.protein}"
                                            th:data-cake-fat="${cake.fat}"
                                            th:data-cake-carbohydrates="${cake.carbohydrates}"
                                            th:data-cake-shelfLife="${cake.shelfLife}"
                                            th:data-cake-filename="${cake.filename}"
                                    >
                                        <svg class="table__svg" width="22" height="22" viewBox="0 0 22 22" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17 9L13 5M1.5 20.5L4.88437 20.124C5.29786 20.078 5.5046 20.055 5.69785 19.9925C5.86929 19.937 6.03245 19.8586 6.18289 19.7594C6.35245 19.6475 6.49955 19.5005 6.79373 19.2063L20 6C21.1046 4.89543 21.1046 3.10457 20 2C18.8955 0.895428 17.1046 0.895427 16 2L2.79373 15.2063C2.49955 15.5005 2.35246 15.6475 2.24064 15.8171C2.14143 15.9676 2.06301 16.1307 2.00751 16.3022C1.94496 16.4954 1.92198 16.7021 1.87604 17.1156L1.5 20.5Z"
                                                  stroke="#fff" stroke-width="2" stroke-linecap="round"
                                                  stroke-linejoin="round"></path>
                                        </svg>
                                    </button>
                                </li>
                                <li class="card__admin-item" onclick="modal_DeleteCake(event)">
                                    <button class="card__admin-btn" id="button-open-delete_cake"
                                            th:data-cake-id="${cake.id}" th:data-cake-name="${cake.name}">
                                        <svg class="table__svg" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7 1H13M1 4H19M17 4L16.2987 14.5193C16.1935 16.0975 16.1409 16.8867 15.8 17.485C15.4999 18.0118 15.0472 18.4353 14.5017 18.6997C13.882 19 13.0911 19 11.5093 19H8.49065C6.90891 19 6.11803 19 5.49834 18.6997C4.95276 18.4353 4.50009 18.0118 4.19998 17.485C3.85911 16.8867 3.8065 16.0975 3.70129 14.5193L3 4M8 8.5V13.5M12 8.5V13.5"
                                                  stroke="#fff" stroke-width="2" stroke-linecap="round"
                                                  stroke-linejoin="round"></path>
                                        </svg>
                                    </button>
                                </li>
                            </ul>
                            <img class="card__img" th:src="@{'/uploads/' + ${cake.filename}}" alt="" width="315"
                                 height="340">
                            <div class="card__info">
                                <h3 class="card__name" th:text="${cake.name}"></h3>
                                <ul class="card__list">
                                    <li th:text="'Вес - ' + ${cake.weight} + ' г.'"></li>
                                    <li th:text="'Цена - ' + ${cake.price} + '₽'"></li>
                                    <li th:text="'Калорийность - ' + ${cake.calories} + ' кКал'"></li>
                                </ul>
                                <a class="card__link" th:href="@{/cake/{id}/details(id=${cake.id})}" target="_blank">
                                    Узнать подробнее</a>
                            </div>
                        </div>
                    </li>
                </th:block>
            </ul>
        </div>
    </section>
    <section th:replace="fragments/unique"></section>
    <section th:replace="fragments/contacts"></section>
</main>
<footer th:replace="fragments/footer"></footer>
<div class="modal" sec:authorize="hasAuthority('Администратор') or hasAuthority('Модератор каталога')" id="modal-edit_cake">
    <button class="modal__close" onclick="modal_cakeClose()">
        <svg width="22" height="22" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.99998 8.99998L1 1" stroke="white" stroke-width="1" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M9.00002 1L1 9.00002" stroke="white" stroke-width="1" stroke-linecap="round"
                  stroke-linejoin="round"/>
        </svg>
    </button>
    <h2 class="section-title" id="edit_modal__title">Добавление торта</h2>
    <form class="modal__form" enctype="multipart/form-data">
        <ul class="modal__list">
            <li class="modal__item">
                <label class="label" for="name">Название</label>
                <input class="input" type="text" id="name" name="name" placeholder="Введите название">
                <span class="error">
                    Название не должно содержать цифры. Минимальное количество символов - 3, максимальное - 50
                </span>
            </li>
            <li class="modal__item">
                <label class="label" for="price">Цена в ₽</label>
                <input class="input" type="number" id="price" name="price" placeholder="Введите цену">
                <span class="error">Минимальная цена - 500, максимальная - 50000</span>
            </li>
            <li class="modal__item">
                <label class="label" for="description">Описание торта</label>
                <textarea class="input textarea" id="description" name="description"
                          placeholder="Введите текст"></textarea>
                <span class="error">Описание не может быть пустым и коротким. Мин. количество символов - 100</span>
            </li>
            <li class="modal__item">
                <label class="label" for="composition">Состав торта</label>
                <textarea class="input textarea" id="composition" name="composition"
                          placeholder="Введите текст"></textarea>
                <span class="error">Состав не может быть пустым и коротким. Мин. количество символов - 70</span>
            </li>
            <li class="modal__item">
                <label class="label" for="calories">Количество калорий (Ккал)</label>
                <input class="input" type="number" id="calories" name="calories"
                       placeholder="Введите количество">
                <span class="error">Калорий не может быть меньше 300, и не больше 30000</span>
            </li>
            <li class="modal__item">
                <label class="label" for="weight">Вес (граммы)</label>
                <input class="input" type="number" id="weight" name="weight" placeholder="Введите вес">
                <span class="error">Вес не может быть меньше 150, и не больше 20000</span>
            </li>
            <li class="modal__item">
                <label class="label" for="protein">Количество белков (граммы)</label>
                <input class="input" type="number" id="protein" name="protein"
                       placeholder="Введите количество">
                <span class="error">Белки не могут быть меньше 3, и не больше 600</span>
            </li>
            <li class="modal__item">
                <label class="label" for="fats">Количество жиров (граммы)</label>
                <input class="input" type="number" id="fats" name="fats" placeholder="Введите количество">
                <span class="error">Жиров не может быть меньше 3, и не больше 600</span>
            </li>
            <li class="modal__item">
                <label class="label" for="carbs">Количество углеводов (граммы)</label>
                <input class="input" type="number" id="carbs" name="carbs" placeholder="Введите количество">
                <span class="error">Углеводов не может быть меньше 3, и не больше 600</span>
            </li>
            <li class="modal__item">
                <label class="label" for="shelfLife">Срок хранения (в днях)</label>
                <input class="input" type="number" id="shelfLife" name="shelfLife"
                       placeholder="Введите количество">
                <span class="error">Количество дней не должно быть меньше 1, и не больше 30</span>
            </li>
            <li class="modal__item">
                <span class="label">Фотография</span>
                <div class="file-upload-container">
                    <input type="file" id="photo" name="photo" onchange="updateFileName(event)">
                    <label class="custom-file-upload" for="photo" id="file-upload-label">
                        Загрузить файл
                    </label>
                </div>
            </li>
        </ul>
        <div class="modal__buttons">
            <button class="modal__btn" type="button" onclick="modal_cakeClose()">Отменить</button>
            <button class="modal__btn" type="button" onclick="modal_saveCake()">Сохранить</button>
        </div>
    </form>
</div>
<div class="modal modal--delete" sec:authorize="hasAuthority('Администратор') or hasAuthority('Модератор каталога')" id="modal-delete_cake">
    <button class="modal__close" onclick="modal_DeleteCakeClose()">
        <svg width="22" height="22" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.99998 8.99998L1 1" stroke="white" stroke-width="1" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M9.00002 1L1 9.00002" stroke="white" stroke-width="1" stroke-linecap="round"
                  stroke-linejoin="round"/>
        </svg>
    </button>
    <div class="modal__inner">
        <p class="modal__text">
            Вы действительно хотите удалить "<span id="cake_name-delete"></span>?" Отменить это действие будет
            невозможно.
        </p>
        <form class="modal__form-actions" action="">
            <div class="modal__buttons">
                <button class="modal__btn" type="button" id="button-delete_cake" onclick="deleteCake()">Удалить</button>
                <button class="modal__btn" type="button" id="button-cancel_cake" onclick="modal_DeleteCakeClose()">
                    Отмена
                </button>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/js/main.min.js}"></script>
<script th:src="@{/js/catalog.js}"></script>
<script th:src="@{/js/functions/search.js}"></script>
<script>
    setupSearchFromSearchJS('#search-cake', '.catalog__list', '/catalog');
</script>
<script th:src="@{/js/functions/custom-file.js}"></script>
</body>
</html>