<!DOCTYPE html>
<html lang="ru" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head"></head>

<body class="body">
<header th:replace="fragments/header"></header>
<main>
    <section class="users indent">
        <div class="container">
            <h1 class="page-title page-title--indent">Редактирование пользователя</h1>
            <form class="modal__form" th:object="${user}" th:action="@{/users/save}" method="post">
                <input th:field="*{id}" type="hidden">
                <input th:field="*{password}" type="hidden">
                <ul class="users-edit__list">
                    <li>
                        <label class="label" for="name">Имя</label>
                        <input class="input" type="text" id="name" name="name" placeholder="Введите имя"
                               th:field="*{name}" required>
                        <span class="error error--active">
                    Название не должно содержать цифры. Минимальное количество символов - 3, максимальное - 50
                </span>
                    </li>
                    <li>
                        <label class="label" for="username">Логин</label>
                        <input class="input" type="text" id="username" name="username" placeholder="Введите логин"
                               required th:field="*{username}">
                        <span class="error error--active">Юзернейм не может быть пустым</span>
                    </li>
                    <li>
                        <label class="label" for="mail">Почта</label>
                        <input class="input" type="email" id="mail" name="mail" placeholder="Введите почту" required
                               th:field="*{mail}">
                        <span class="error error--active">Почта не может быть пустой</span>
                    </li>
                    <li>
                        <label class="label" for="phone">Номер телефона</label>
                        <input class="input" data-tel-input maxlength="22" id="phone" name="phone" type="text"
                               placeholder="Введите номер" required th:field="*{number}">
                    </li>
                    <li>
                        <label class="label" for="role">Роль</label>
                        <select class="select" id="role" name="role" th:field="*{roles}">
                            <option th:each="role : ${roles}" th:value="${role}" th:text="${role.name}"></option>
                        </select>
                    </li>
                </ul>
                <button class="btn" type="submit">Сохранить</button>
            </form>
        </div>
    </section>
</main>
<footer th:replace="fragments/footer"></footer>
<script th:src="@{/js/main.min.js}"></script>
<script th:src="@{/js/phone-mask.js}"></script>
<script th:src="@{/js/custom-select.js}"></script>
<script th:src="@{/js/users.js}"></script>
</body>
</html>