<!DOCTYPE html>
<html lang="ru" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head"></head>

<body class="body">
<header th:replace="fragments/header"></header>
<main>
    <div class="container">
        <h1 class="manual__title page-title">Страница помощи</h1>
        <div class="manual__inner">
            <div class="manual__top">
                <span class="manual__number">#1</span>
                <span class="manual__name">Поиск данных</span>
            </div>
            <div class="manual__content">
                <p>
                    В системе имеется функция поиска данных. Данным действием могут заниматься все пользователи системы.
                    Осуществлять поиск данных можно из следующих мест – каталог тортов, и отзывы.
                </p>
                <p>
                    Чтобы начать поиск первым делом нужно перейти на определенную страницу с поиском которая есть в
                    системе.
                    У каждой страницы свое поле поиска. То есть, если вы перейдете на другую таблицу, то там будет
                    показывать поиск именно для данной страницы (на которой находитесь в системе).
                </p>
                <p>
                    Поиск работает динамическим способом. Введя даже один символ, вы уже получите контент, который будет
                    совпадать с данными из запроса поиска. Поиск работает методом вставки – вы можете написать слог из
                    слова
                    и вам все равно будет показывать результат, который будет совпадать с данными из запроса.
                </p>
                <div class="manual__img">
                    <img src="images/manual/1.jpg" alt="" width="800">
                    <span class="manual__caption">Рисунок 1 - Руководство пользователя для поиска данных</span>
                </div>
            </div>
            <div class="manual__top">
                <span class="manual__number">#2</span>
                <span class="manual__name">Добавление отзыва</span>
            </div>
            <div class="manual__content">
                <p>
                    В системе имеется страница «Отзывы». Отзывы могут просматривать все пользователи. На данной странице
                    можно будет прочитать отзывы от других людей, которые оставили свое мнение о кондитерской.
                </p>
                <p>
                    Чтобы оставить отзыв самому, первым делом нужно авторизоваться (в случае, если у вас нет аккаунта,
                    то перейдите на странице регистрации чтобы создать аккаунт). Далее, когда вы авторизуетесь вы
                    сможете увидеть на сайте кнопку «Добавить отзыв», по нажатию которой откроется модальное окно с
                    добавлением вашего отзыва.
                </p>
                <div class="manual__img">
                    <img src="images/manual/2.jpg" alt="" width="800">
                    <span class="manual__caption">Рисунок 2 - Руководство пользователя «Отзывы»</span>
                </div>
                <p>
                    Введя текст вашего отзыва, вы можете нажать на «Отменить» если вы передумали оставлять отзыв, после
                    чего у вас закроется модальное окно с добавлением отзыва. Если вы нажмете на «Отправить», то ваш
                    отзыв добавится на странице, и вам придет письмо на почту с благодарностью за оставленный отзыв.
                </p>
                <div class="manual__img">
                    <img src="images/manual/3.jpg" alt="" width="800">
                    <span class="manual__caption">Рисунок 3 - Руководство пользователя «Отзывы»</span>
                </div>
            </div>
            <div class="manual__top">
                <span class="manual__number">#3</span>
                <span class="manual__name">Страница заявок и индивидуальных заказов</span>
            </div>
            <div class="manual__content">
                <p>
                    В системе также имеются 2 страницы, на которых имеются формы обратной связи – первая страница — это
                    заказ торта из каталога, а вторая страница — это индивидуальный заказ.
                </p>
                <p>
                    На странице заказа нужно ввести свои контактные данные, а также выбрать определенный торт, которые
                    вы захотели заказать.
                </p>
                <div class="manual__img">
                    <img src="images/manual/4.jpg" alt="" width="800">
                    <span class="manual__caption">Рисунок 4 - Руководство пользователя «Заказать торт»</span>
                </div>
                <p>
                    После нажатии кнопки «Отправить» на почту, указанную в форме, придет письмо о том, что заявка была
                    принят, и в ближайшее время нужно ожидать поступления звонка на телефон, указанный в форме.
                </p>
                <p>
                    На странице «Индивидуальный заказ» действуют точно такая же форма обратной связи, но теперь
                    потребуется не выбрать торт, а ввести данные о торте – это вес, и описание для торта, который вы
                    хотите сделать для себя.
                </p>
                <div class="manual__img">
                    <img src="images/manual/5.jpg" alt="" width="800">
                    <span class="manual__caption">Рисунок 5 - Руководство пользователя «Индивидуальный заказ»</span>
                </div>
                <p>
                    После нажатии кнопки «Отправить» на почту, указанную в форме, придет письмо о том, что заказ был
                    принят, и в ближайшее время нужно ожидать поступления звонка на телефон, указанный в форме.
                </p>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
<script th:src="@{/js/main.min.js}"></script>
</body>
</html>