<!DOCTYPE html>
<html lang="ru" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head"></head>

<body class="body">
<header th:replace="fragments/header"></header>
<main>
    <section class="start indent">
        <div class="container">
            <div class="start__inner">
                <div class="start__content">
                    <h1 class="start__title page-title">Окунитесь в изысканность вкуса великолепия кондитерской
                        роскоши</h1>
                    <p class="start__text">
                        Добро пожаловать в мир, где вкус становится искусством, а сладости обретают новые измерения
                        роскоши.
                        Наша кондитерская приглашает вас на путешествие по невероятным гастрономическим переживаниям.
                    </p>
                    <a class="start__link" th:href="@{/catalog}" href="catalog.html">Перейти в каталог</a>
                </div>
                <img class="start__img" src="images/start-home.jpg" alt="кондитерская торты" width="560" height="530">
            </div>
        </div>
    </section>
    <section class="about-company indent">
        <div class="container">
            <h2 class="section-title">Наша кондитерская</h2>
            <div class="about-company__content">
                <p>
                    Мы - команда экспертов в мире кондитерского искусства, посвятивших себя созданию непревзойденных
                    сладостей высочайшего качества. С каждым десертом мы стремимся подарить вам истинное
                    гастрономическое
                    наслаждение и незабываемый опыт. Наши уникальные рецепты, тщательно отобранные ингредиенты и
                    безупречное
                    мастерство сливаются в каждой созданной нами вкусовой симфонии
                </p>
                <img src="images/about-company.png" alt="кондитерская highcakes" width="1400" height="500">
                <p>
                    Все наши сладости создаются с помощью тщательно отобранных ингредиентов высочайшего качества. Мы
                    стремимся использовать только свежие и натуральные продукты, чтобы дарить вам настоящие вкусовые
                    сенсации. Наша команда мастеров-кондитеров - истинные профессионалы в своей области, обладающие
                    глубокими знаниями и непревзойденным мастерством.
                </p>
                <p>
                    Мы вдохновляемся идеями и трендами, и наша кондитерская постоянно развивается, чтобы предложить вам
                    новые и захватывающие вкусовые комбинации. Каждый десерт, который вы найдете в нашем ассортименте,
                    разработан с учетом баланса вкусов, текстур и эстетической привлекательности. Мы заботимся о каждой
                    детали - от красивого оформления до интригующих вкусовых сочетаний, чтобы каждый наш клиент испытал
                    неповторимый кулинарный опыт
                </p>
            </div>
            <a class="about-company__link" th:href="@{/about}">Читать далее.....</a>
        </div>
    </section>
    <section th:replace="fragments/unique"></section>
    <section th:replace="fragments/popular_news"></section>
    <section th:replace="fragments/contacts"></section>
</main>
<footer th:replace="fragments/footer"></footer>
<script th:src="@{/js/main.min.js}"></script>
</body>

</html>