<!DOCTYPE html>
<html lang="ru" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head"></head>

<body class="body">
<header th:replace="fragments/header"></header>
<main>
    <section class="news indent">
        <div class="container">
            <h1 class="page-title page-title--indent">Новости</h1>
            <ul class="news__list">
                <li class="news-card">
                    <time class="news-card__date" datetime="2022-04-05">5 апреля, 2022</time>
                    <h3 class="news-card__name">
                        <a class="news-card__link" th:href="@{/news-details}">
                            Учимся правильно готовить кондитерские изделия
                        </a>
                    </h3>
                    <p class="news-card__description">
                        В этой статье мы научим вас приготавливать в домашних условиях различные вкусности которые
                        создаются кондитерами
                    </p>
                </li>
                <li class="news-card">
                    <time class="news-card__date" datetime="2022-05-10">10 мая, 2023</time>
                    <h3 class="news-card__name">
                        <a class="news-card__link" th:href="@{/news-details}">
                            Как открыть правильно кондитерскую без больших затрат
                        </a>
                    </h3>
                    <p class="news-card__description">
                        Мы хотим вам рассказать о том, как открывать новую кондитерскую без высоких затрат,
                        прогорании и критических ошибок
                    </p>
                </li>
                <li class="news-card">
                    <time class="news-card__date" datetime="2022-05-25">25 мая, 2023</time>
                    <h3 class="news-card__name">
                        <a class="news-card__link" th:href="@{/news-details}">
                            Открытие кондитерской «Тройка» после масштабной реконструкции
                        </a>
                    </h3>
                    <p class="news-card__description">
                        «Тройка» объединила в одном пространстве сразу две оригинальные концепции, построенные на
                        контрасте: первый зал с магазином раскрывает тему ночи, а светлый обеденный зал — день
                    </p>
                </li>
                <li class="news-card">
                    <time class="news-card__date" datetime="2022-05-28">28 мая, 2023</time>
                    <h3 class="news-card__name">
                        <a class="news-card__link" th:href="@{/news-details}">
                            Гайд как сделать красивый свадебный торт с цветами
                        </a>
                    </h3>
                    <p class="news-card__description">
                        Свадебный торт – одна из немногих традиций, от которой не отказываются современные
                        молодожены. Кроме приятного финала ужина, это еще и красивый символ
                    </p>
                </li>
                <li class="news-card">
                    <time class="news-card__date" datetime="2022-02-16">16 февраля, 2023</time>
                    <h3 class="news-card__name">
                        <a class="news-card__link" th:href="@{/news-details}">
                            Волшебство вкуса: эксклюзивные шоколадные торты
                        </a>
                    </h3>
                    <p class="news-card__description">
                        Откройте для себя неповторимое сочетание изысканного шоколадного вкуса и мастерства наших
                        кондитеров. Наши эксклюзивные шоколадные торты погрузят вас в мир настоящего волшебства
                        сладких наслаждений
                    </p>
                </li>
                <li class="news-card">
                    <time class="news-card__date" datetime="2022-02-10">10 февраля, 2023</time>
                    <h3 class="news-card__name">
                        <a class="news-card__link" th:href="@{/news-details}">
                            Дегустационный опыт: откройте новые гастрономические грани с нашими тортами
                        </a>
                    </h3>
                    <p class="news-card__description">
                        Позвольте себе погрузиться в удивительный мир гастрономического искусства с нашим
                        дегустационным опытом
                    </p>
                </li>
                <li class="news-card">
                    <time class="news-card__date" datetime="2022-02-05">5 февраля, 2023</time>
                    <h3 class="news-card__name">
                        <a class="news-card__link" th:href="@{/news-details}">
                            Тортовая мастерская: акция творчества и страсти к сладостям
                        </a>
                    </h3>
                    <p class="news-card__description">
                        Совсем в скором времени у нас появятся акция, где вы сможете попробовать наши новые
                        шоколадные сладости
                    </p>
                </li>
                <li class="news-card">
                    <time class="news-card__date" datetime="2022-01-26">26 января, 2023</time>
                    <h3 class="news-card__name">
                        <a class="news-card__link" th:href="@{/news-details}">
                            Новая кондитерская "Моцарт" появилась в центре Краснодара
                        </a>
                    </h3>
                    <p class="news-card__description">
                        Расскажем о том что это за кондитерская, в чем её особенности. И почему мы её упомянули
                    </p>
                </li>
            </ul>
        </div>
    </section>
    <section th:replace="fragments/contacts"></section>
</main>
<footer th:replace="fragments/footer"></footer>
<script th:src="@{/js/main.min.js}"></script>
</body>
</html>