<!DOCTYPE html>
<html lang="ru" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head"></head>

<body class="body">
<header class="header">
    <div class="container">
        <nav class="header__nav">
            <ul class="header__menu">
                <li class="header__item">
                    <a class="header__link header__link--active" th:href="@{/}">Главная</a>
                </li>
                <li class="header__item">
                    <a class="header__link" th:href="@{/about}">О компании</a>
                </li>
                <li class="header__item">
                    <a class="header__link" th:href="@{/catalog}">Каталог</a>
                </li>
                <li class="header__item">
                    <a class="header__link" th:href="@{/offer}">Заказать торт</a>
                </li>
                <li class="header__item">
                    <a class="header__link" th:href="@{/unique}">Индивидуальный заказ</a>
                </li>
                <li class="header__item">
                    <a class="header__link" th:href="@{/news}">Новости</a>
                </li>
                <li class="header__item">
                    <a class="header__link" th:href="@{/help}">Помощь</a>
                </li>
                <li class="header__item">
                    <a class="header__link" th:href="@{/shipping}">Доставка и оплата</a>
                </li>
                <li class="header__item">
                    <a class="header__link" th:href="@{/reviews}">Отзывы</a>
                </li>
                <li class="header__item" sec:authorize="hasAuthority('Администратор')">
                    <a class="header__link" th:href="@{/users}">Пользователи</a>
                </li>
                <li class="header__item" sec:authorize="hasAuthority('Администратор')">
                    <a class="header__link" th:href="@{/manual}">Администрирование</a>
                </li>
            </ul>
        </nav>
        <div class="header__inner">
            <button class="menu-btn">
                <span class="menu-btn__line"></span>
                <span class="menu-btn__line"></span>
                <span class="menu-btn__line"></span>
            </button>
            <a class="logo" th:href="@{/}">
                <img class="logo__img" th:src="@{/images/icons/logo.svg}" alt="логотип" width="215" height="54">
            </a>
            <div class="header__cabinet" sec:authorize="not isAuthenticated()">
                <a class="header__cabinet-link" th:href="@{/login}">Войти</a>
            </div>
            <div class="header__cabinet" sec:authorize="isAuthenticated()">
                <a class="header__cabinet-link" th:href="@{/profile}">Личный кабинет</a>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="profile indent">
        <div class="container">
            <a class="profile__logout" th:href="@{/logout}">Выйти из аккаунта</a>
            <div class="profile__top">
                <img class="profile__avatar" th:src="@{'/uploads/' + ${user.getFilename()}}" width="180"
                     height="180">
                <div class="profile__info-content">
                    <h1 class="profile__name" th:text="${user.getName()}"></h1>
                    <span class="profile__email" th:text="${user.getMail()}"></span>
                </div>
            </div>
            <div class="profile__content">
                <p>
                    Логин - <span th:text="${user.getUsername()}">логин</span>
                </p>
                <p>
                    Телефон - <span th:text="${user.getNumber()}">телефон</span>
                </p>
                <p>
                    Почта - <span th:text="${user.getMail()}">почта</span>
                </p>
            </div>
            <button class="profile__btn" type="button"
                    th:data-user-id="${user.getId()}"
                    th:data-user-name="${user.getName()}"
                    th:data-user-mail="${user.getMail()}"
                    th:data-user-number="${user.getNumber()}"
                    th:data-user-filename="${user.getFilename()}"
                    onclick="modal_EditData()"
            >
                Редактировать данные
            </button>
        </div>
    </section>
    <div class="modal" id="modal-edit_profile">
        <button class="modal__close" onclick="profileClose()">
            <svg width="22" height="22" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.99998 8.99998L1 1" stroke="white" stroke-width="1" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path d="M9.00002 1L1 9.00002" stroke="white" stroke-width="1" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
        </button>
        <h2 class="section-title">Редактирование данных</h2>
        <form class="modal__form" method="post" enctype="multipart/form-data">
            <ul class="modal__list">
                <li class="modal__item">
                    <label class="label" for="name">Имя</label>
                    <input class="input" type="text" id="name" name="name" placeholder="Введите имя" required>
                    <span class="error">Имя не соответствует требованиям. Нельзя использовать спец символы и цифры, только латиница!</span>
                </li>
                <li class="modal__item">
                    <label class="label" for="email">Почта</label>
                    <input class="input" type="text" id="email" name="email" placeholder="Введите почту" required>
                    <span class="error">Почта не соответствует требованиям. Нельзя использовать спец символы и литиницу!</span>
                </li>
                <li class="modal__item">
                    <label class="label" for="number">Телефон</label>
                    <input class="input" type="text" id="number" name="number" data-tel-input maxlength="22"
                           placeholder="Введите телефон" required>
                    <span class="error">Телефон не может быть пустым!</span>
                </li>
                <li class="modal__item">
                    <span class="label">Фотография</span>
                    <div class="file-upload-container">
                        <input type="file" id="photo" name="photo" onchange="updateFileName(event)">
                        <label class="custom-file-upload" for="photo" id="file-upload-label">
                            Загрузить файл
                        </label>
                    </div>
                </li>
            </ul>
            <div class="modal__buttons">
                <button class="modal__btn" type="button" onclick="profileClose()">Отменить</button>
                <button class="modal__btn" type="button" onclick="modal_SaveData()">Сохранить</button>
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
<script th:src="@{/js/main.min.js}"></script>
<script th:src="@{/js/profile.js}"></script>
<script th:src="@{/js/custom-file.js}"></script>
<script th:src="@{/js/phone-mask.js}"></script>
</body>

</html>