<!DOCTYPE html>
<html lang="ru" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head"></head>

<body class="body">
<header th:replace="fragments/header"></header>
<main>
    <section class="profile indent">
        <div class="container">
            <div class="profile__tabs">
                <ul class="profile__tabs-list">
                    <li class="profile__tabs-item">
                        <button class="profile__tabs-btn profile__tabs-btn--active" data-tabs-path="main">
                            Основная информация
                        </button>
                    </li>
                    <li class="profile__tabs-item">
                        <button class="profile__tabs-btn" data-tabs-path="history">
                            История заказов
                        </button>
                    </li>
                    <li class="profile__tabs-item">
                        <button class="profile__tabs-btn" data-tabs-path="reviews">
                            Ваши отзывы
                        </button>
                    </li>
                </ul>
                <div id="successMessage" style="display: none;">
                    Данные были успешно обновлены
                </div>
                <div class="profile__tabs-content" data-tabs-target="main">
                    <a class="profile__logout" th:href="@{/logout}">Выйти из аккаунта</a>
                    <div class="error error--profile" id="nameError">
                        Имя не может пустым, иметь цифры и спец.символы. Минимальное количество символов - 2
                    </div>
                    <div class="error error--profile" id="emailError">
                        Почта не соответсвует проверке. Попробуйте снова
                    </div>
                    <div class="error error--profile" id="numberError">
                        Телефон не может быть пустым
                    </div>
                    <div class="profile__main-content">
                        <form id="avatarForm" enctype="multipart/form-data">
                            <div class="profile__main-row">
                                <span class="profile__main-name">Фото</span>
                                <input class="profile__main-img" type="file" accept="image/*" name="filename"
                                       id="filename">
                                <img class="profile__main-image" id="avatarImage"
                                     th:src="@{'/uploads/' + ${user.getFilename()}}" alt="avatar"
                                     width="70" height="70">
                                <label class="profile__main-btn" th:data-user-id="${user.getId()}"
                                       for="filename">Изм.</label>
                            </div>
                        </form>
                        <div class="profile__main-row">
                            <label class="profile__main-name" for="nameInput">Имя</label>
                            <input class="profile__main-info" type="text" th:value="${user.getName()}" id="nameInput"
                                   placeholder="Введите имя">
                            <button class="profile__main-btn edit-btn" id="editNameBtn"
                                    th:data-user-id="${user.getId()}">Изм.
                            </button>
                        </div>
                        <div class="profile__main-row">
                            <label class="profile__main-name" for="emailInput">Почта</label>
                            <input class="profile__main-info" type="email" th:value="${user.getMail()}" id="emailInput"
                                   placeholder="Введите почту">
                            <button class="profile__main-btn edit-btn" id="editEmailBtn"
                                    th:data-user-id="${user.getId()}">Изм.
                            </button>
                        </div>
                        <div class="profile__main-row">
                            <label class="profile__main-name" for="numberInput">Номер телефона</label>
                            <input class="profile__main-info" data-tel-input maxlength="22" type="text"
                                   th:value="${user.getNumber()}" id="numberInput" placeholder="Введите номер">
                            <button class="profile__main-btn edit-btn" th:data-user-id="${user.getId()}"
                                    id="editNumberBtn">Изм.
                            </button>
                        </div>
                        <div class="profile__main-row">
                            <span class="profile__main-name">Логин</span>
                            <span class="profile__main-info" th:text="${user.getUsername()}"></span>
                        </div>
                        <div class="profile__main-row">
                            <span class="profile__main-name">Пароль</span>
                            <span class="profile__main-info">*************</span>
                            <a class="profile__main-btn" href="">Изм.</a>
                        </div>
                    </div>
                </div>
                <div class="profile__tabs-content" data-tabs-target="history">
                    Истории заказов пока нет
                </div>
                <div class="profile__tabs-content" data-tabs-target="reviews">
                    <p class="profile__reviews-text" th:if="${#lists.isEmpty(userReviews)}">
                        У вас пока нет отзывов, но вы можете <a th:href="@{/reviews}">оставить его</a>
                    </p>
                    <ul class="profile__reviews-list" th:if="${not #lists.isEmpty(userReviews)}">
                        <li class="profile__reviews-item reviews__item" th:each="review : ${userReviews}">
                            <div class="profile__reviews-actions">
                                <button class="profile__reviews-btn" id="button-open-edit_review"
                                        th:data-review-id="${review.getId()}"
                                        th:data-review-text="${review.getText()}"
                                        onclick="reviewOpenEdit(event)">
                                    Редактировать отзыв
                                </button>
                                <button class="profile__reviews-btn" id="button-open-delete_review"
                                        th:data-review-id="${review.getId()}"
                                        onclick="reviewOpenDelete(event)">
                                    Удалить отзыв
                                </button>
                            </div>
                            <time class="reviews__date" th:text="${review.getFormattedDate()}"></time>
                            <p class="reviews__text" th:id="'review-text-' + ${review.getId()}"
                               th:text="${review.text}"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:replace="fragments/footer"></footer>
<div class="modal" id="modal-edit_review">
    <button class="modal__close" onclick="reviewCloseEdit()">
        <svg width="22" height="22" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.99998 8.99998L1 1" stroke="white" stroke-width="1" stroke-linecap="round"
                  stroke-linejoin="round"></path>
            <path d="M9.00002 1L1 9.00002" stroke="white" stroke-width="1" stroke-linecap="round"
                  stroke-linejoin="round"></path>
        </svg>
    </button>
    <h2 class="section-title">Редактирование отзыва</h2>
    <form class="modal__form">
        <ul class="modal__list">
            <li class="modal__item">
                <label class="label" for="description">Текст отзыва</label>
                <textarea class="input textarea" id="description" name="description"
                          placeholder="Введите текст"></textarea>
                <span class="error" id="description-error">
                    Описание не может быть пустым и коротким. Мин. количество символов - 60, макс. количество символов - 800
                </span>
            </li>
        </ul>
        <div class="modal__buttons">
            <button class="modal__btn" type="button" onclick="reviewCloseEdit()">Отменить</button>
            <button class="modal__btn" id="save-button" type="button" onclick="saveEditReview()">Сохранить</button>
        </div>
    </form>
</div>
<div class="modal modal--delete" id="modal-delete_review">
    <button class="modal__close" onclick="reviewCloseDelete()">
        <svg width="22" height="22" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.99998 8.99998L1 1" stroke="white" stroke-width="1" stroke-linecap="round"
                  stroke-linejoin="round"></path>
            <path d="M9.00002 1L1 9.00002" stroke="white" stroke-width="1" stroke-linecap="round"
                  stroke-linejoin="round"></path>
        </svg>
    </button>
    <div class="modal__inner">
        <p class="modal__text">
            Вы действительно хотите удалить ваш отзыв?" Отменить это действие будет невозможно.
        </p>
        <form class="modal__form-actions" action="">
            <div class="modal__buttons">
                <button class="modal__btn" type="button" id="button-delete_cake" onclick="deleteProfileReview()">
                    Удалить
                </button>
                <button class="modal__btn" type="button" id="button-cancel_cake" onclick="reviewCloseDelete()">
                    Отменить
                </button>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/js/main.min.js}"></script>
<script th:src="@{/js/profile/reviews.js}"></script>
<script th:src="@{/js/profile.js}" type="module"></script>
<script th:src="@{/js/functions/phone-mask.js}"></script>
</body>

</html>