<!DOCTYPE html>
<html lang="ru" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head"></head>

<body class="body">
<header th:replace="fragments/header"></header>
<main>
    <section class="profile indent">
        <div class="container">
            <div class="profile__tabs">
                <ul class="profile__tabs-list">
                    <li class="profile__tabs-item">
                        <button class="profile__tabs-btn profile__tabs-btn--active" data-tabs-path="main">
                            Основная информация
                        </button>
                    </li>
                    <li class="profile__tabs-item">
                        <button class="profile__tabs-btn" data-tabs-path="history">
                            История заказов
                        </button>
                    </li>
                    <li class="profile__tabs-item">
                        <button class="profile__tabs-btn" data-tabs-path="reviews">
                            Ваши отзывы
                        </button>
                    </li>
                </ul>
                <div id="successMessage" style="display: none;">
                    Данные были успешно обновлены
                </div>
                <div class="profile__tabs-content" data-tabs-target="main">
                    <a class="profile__logout" th:href="@{/logout}">Выйти из аккаунта</a>
                    <div class="error error--profile" id="nameError">
                        Имя не может пустым, иметь цифры и спец.символы. Минимальное количество символов - 2
                    </div>
                    <div class="error error--profile" id="emailError">
                        Почта не соответсвует проверке. Попробуйте снова
                    </div>
                    <div class="error error--profile" id="numberError">
                        Телефон не может быть пустым
                    </div>
                    <div class="profile__main-content">
                        <form id="avatarForm" enctype="multipart/form-data">
                            <div class="profile__main-row">
                                <span class="profile__main-name">Фото</span>
                                <input class="profile__main-img" type="file" accept="image/*" name="filename"
                                       id="filename">
                                <img class="profile__main-image" id="avatarImage"
                                     th:src="@{'/uploads/' + ${user.getFilename()}}" alt="avatar"
                                     width="70" height="70">
                                <label class="profile__main-btn" th:data-user-id="${user.getId()}"
                                       for="filename">Изм.</label>
                            </div>
                        </form>
                        <div class="profile__main-row">
                            <label class="profile__main-name" for="nameInput">Имя</label>
                            <input class="profile__main-info" type="text" th:value="${user.getName()}" id="nameInput"
                                   placeholder="Введите имя">
                            <button class="profile__main-btn edit-btn" id="editNameBtn"
                                    th:data-user-id="${user.getId()}">Изм.
                            </button>
                        </div>
                        <div class="profile__main-row">
                            <label class="profile__main-name" for="emailInput">Почта</label>
                            <input class="profile__main-info" type="email" th:value="${user.getMail()}" id="emailInput"
                                   placeholder="Введите почту">
                            <button class="profile__main-btn edit-btn" id="editEmailBtn"
                                    th:data-user-id="${user.getId()}">Изм.
                            </button>
                        </div>
                        <div class="profile__main-row">
                            <label class="profile__main-name" for="numberInput">Номер телефона</label>
                            <input class="profile__main-info" data-tel-input maxlength="22" type="text"
                                   th:value="${user.getNumber()}" id="numberInput" placeholder="Введите номер">
                            <button class="profile__main-btn edit-btn" th:data-user-id="${user.getId()}"
                                    id="editNumberBtn">Изм.
                            </button>
                        </div>
                        <div class="profile__main-row">
                            <span class="profile__main-name">Логин</span>
                            <span class="profile__main-info" th:text="${user.getUsername()}"></span>
                        </div>
                        <div class="profile__main-row">
                            <span class="profile__main-name">Пароль</span>
                            <span class="profile__main-info">*************</span>
                            <a class="profile__main-btn" href="">Изм.</a>
                        </div>
                    </div>
                </div>
                <div class="profile__tabs-content" data-tabs-target="history">
                    Истории заказов пока нет
                </div>
                <div class="profile__tabs-content" data-tabs-target="reviews">
                    <p class="profile__reviews-text">
                        У вас пока нет отзывов, но вы можете <a href="reviews.html">создать его</a>
                    </p>
                    <ul class="profile__reviews-list">
                        <li class="profile__reviews-item reviews__item">
                            <button class="profile__reviews-btn" id="button-open-edit_review">
                                Редактировать отзыв
                            </button>
                            <time class="reviews__date">28 мая 2023 г.</time>
                            <p class="reviews__text">
                                Этот торт превзошел все мои ожидания! Он выглядел потрясающе и его вкус просто
                                невероятный.
                                Я полностью погрузилась в мир сладостей и наслаждалась каждым кусочком. Спасибо за вашу
                                творческую работу и внимание к деталям
                            </p>
                        </li>
                        <li class="profile__reviews-item reviews__item">
                            <button class="profile__reviews-btn" id="button-open-edit_review">
                                Редактировать отзыв
                            </button>
                            <time class="reviews__date">23 мая 2023 г.</time>
                            <p class="reviews__text">
                                Не первый раз заказываем в "HighCakes". И каждый раз отменное качество, очень вкусные
                                тортики. Перепробовали уже почти все! В прошлом году мне на день рождения сделали
                                овальный
                                бисквитный большой торт ! Красивый! Вкусный! Спасибо большое !!!🌹🌹🌹
                            </p>
                        </li>
                        <li class="profile__reviews-item reviews__item">
                            <button class="profile__reviews-btn" id="button-open-edit_review">
                                Редактировать отзыв
                            </button>
                            <time class="reviews__date">22 мая 2023 г.</time>
                            <p class="reviews__text">
                                Ваши торты - это настоящая находка для любителей десертов! Я влюбилась в вашу
                                кондитерскую с
                                первого кусочка. Вкус, аромат, текстура - все просто идеально. Каждый раз, когда я
                                попадаю в
                                ваш магазин, я чувствую себя в сказочном мире сладостей
                            </p>
                        </li>
                        <li class="profile__reviews-item reviews__item">
                            <button class="profile__reviews-btn" id="button-open-edit_review">
                                Редактировать отзыв
                            </button>
                            <time class="reviews__date">5 мая 2023 г.</time>
                            <p class="reviews__text">
                                Заказывала у вас торт на детский праздник, и он был просто волшебным! Дети были в
                                полнейшем
                                восторге от его внешнего вида, а вкус просто завораживал. Вы создали настоящую сказку
                                для
                                малышей, спасибо вам
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:replace="fragments/footer"></footer>
<script th:src="@{/js/main.min.js}"></script>
<script th:src="@{/js/profile.js}" type="module"></script>
<script th:src="@{/js/functions/phone-mask.js}"></script>
</body>

</html>