<!DOCTYPE html>
<html lang="ru" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head"></head>

<body class="body">
<header th:replace="fragments/header"></header>
<main class="indent">
    <div class="container">
        <div class="authorization">
            <h1 class="authorization__title page-title">Регистрация</h1>
            <form method="post" class="authorization__form" th:action="@{/registration/save}" th:object="${user}">
                <div class="authorization__form-inputs">
                    <div class="authorization__item">
                        <label class="label" for="login">Логин</label>
                        <input class="input" id="login" name="login" type="text" placeholder="Придумайте логин"
                               required th:field="*{username}">
                        <span class="error--active error" th:errors="*{username}"
                              th:if="${#fields.hasErrors('username')}">Пользователь с таким логином уже зарегистрирован!</span>
                        <span class="error">Логин не соответствует требованиям. Нельзя использовать спец символы, только латиница!</span>
                    </div>
                    <div class="authorization__item">
                        <label class="label" for="password">Пароль</label>
                        <input class="input" id="password" name="password" type="password" placeholder="Введите пароль"
                               required th:field="*{password}">
                        <span class="error">Пароль не соответствует требованиям</span>
                    </div>
                    <div class="authorization__item">
                        <label class="label" for="name">Имя</label>
                        <input class="input" id="name" name="name" type="text" placeholder="Введите имя" required
                               th:field="*{name}">
                        <span class="error">Имя не соответствует требованиям. Вводить можно только кириллицу, без доп. символов и цифр!</span>
                    </div>
                    <div class="authorization__item">
                        <label class="label" for="phone">Телефон</label>
                        <input class="input" id="phone" data-tel-input maxlength="22" type="text"
                               placeholder="Введите телефон" required
                               th:field="*{number}">
                        <span class="error">Телефон не соответствует требованиям. Вводить можно только цифры без спец символов!</span>
                    </div>
                    <div class="authorization__item">
                        <label class="label" for="email">Почта</label>
                        <input class="input" id="email" name="email" type="email" placeholder="Введите почту" required
                               th:field="*{mail}">
                        <span class="error">Почта не соответствует требованиям. Вводить можно только латиницу без спец символов!</span>
                    </div>
                </div>
                <p class="authorization__info">
                    Уже есть аккаунт? Тогда <a th:href="@{/login}">авторизуйтесь</a>!
                </p>
                <button class="authorization__btn" type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</main>
<script th:src="@{/js/main.min.js}"></script>
<script th:src="@{/js/phone-mask.js}"></script>
</body>

</html>