<!DOCTYPE html>
<html lang="ru" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head"></head>

<body class="body">
<header th:replace="fragments/header"></header>
<main>
    <section class="reviews indent">
        <div class="container">
            <div class="reviews__inner">
                <div class="reviews__left">
                    <h1 class="reviews__title page-title page-title--indent">Отзывы</h1>
                    <span class="reviews__quantity">Всего <span th:text="${reviews.size()}"></span> отзывов</span>
                    <p class="reviews__unauthorized" sec:authorize="not isAuthenticated()">
                        Если вы хотите оставить отзыв, то сначала <a th:href="@{/login}">авторизуйтесь</a>
                    </p>
                    <button class="reviews__btn btn" sec:authorize="isAuthenticated()" onclick="reviewOpen()">
                        Оставить отзыв
                    </button>
                </div>
                <div class="reviews__content">
                    <form class="reviews__search" action="">
                        <label for="search-review">
                            <input type="text" class="catalog__field" id="search-review" placeholder="Введите текст">
                        </label>
                    </form>
                    <th:block th:if="${reviews.isEmpty()}">
                        <span class="reviews__info">Пока отзывов нет :)</span>
                    </th:block>
                    <ul class="reviews__list">
                        <li class="reviews__item" th:each="review: ${reviews}">
                            <ul class="card__admin" sec:authorize="hasAuthority('Администратор') or hasAnyAuthority('Модератор отзывов')">
                                <li class="card__admin-item" onclick="deleteReviewOpen(event)">
                                    <button class="card__admin-btn" id="button-open-delete_cake"
                                            th:data-review-id="${review.getId()}"
                                            th:data-review-name="${review.user.getName()}"
                                    >
                                        <svg class="table__svg" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7 1H13M1 4H19M17 4L16.2987 14.5193C16.1935 16.0975 16.1409 16.8867 15.8 17.485C15.4999 18.0118 15.0472 18.4353 14.5017 18.6997C13.882 19 13.0911 19 11.5093 19H8.49065C6.90891 19 6.11803 19 5.49834 18.6997C4.95276 18.4353 4.50009 18.0118 4.19998 17.485C3.85911 16.8867 3.8065 16.0975 3.70129 14.5193L3 4M8 8.5V13.5M12 8.5V13.5"
                                                  stroke="#fff" stroke-width="2" stroke-linecap="round"
                                                  stroke-linejoin="round"></path>
                                        </svg>
                                    </button>
                                </li>
                            </ul>
                            <time class="reviews__date" th:text="${review.getFormattedDate()}"></time>
                            <span class="reviews__name" th:text="${review.user.getName()}"></span>
                            <p class="reviews__text" th:text="${review.text}"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section th:replace="fragments/contacts"></section>
</main>
<footer th:replace="fragments/footer"></footer>
<div class="modal" id="modal-add_review">
    <button class="modal__close" onclick="reviewClose()">
        <svg width="22" height="22" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.99998 8.99998L1 1" stroke="white" stroke-width="1" stroke-linecap="round"
                  stroke-linejoin="round"></path>
            <path d="M9.00002 1L1 9.00002" stroke="white" stroke-width="1" stroke-linecap="round"
                  stroke-linejoin="round"></path>
        </svg>
    </button>
    <h2 class="section-title" id="edit_modal__title">Написание отзыва</h2>
    <form class="modal__form">
        <ul class="modal__list">
            <li class="modal__item">
                <label class="label" for="description">Текст отзыва</label>
                <textarea class="input textarea" id="description" name="description"
                          placeholder="Введите текст"></textarea>
                <span class="error">Описание не может быть пустым и коротким. Мин. количество символов - 60, макс. количество символов - 800</span>
            </li>
        </ul>
        <div class="modal__buttons">
            <button class="modal__btn" type="button" onclick="reviewClose()">Отменить</button>
            <button class="modal__btn" type="button" onclick="saveReview()">Отправить</button>
        </div>
    </form>
</div>
<div class="modal modal--delete" sec:authorize="hasAuthority('Администратор') or hasAuthority('Модератор отзывов')" id="modal-delete_review">
    <button class="modal__close" onclick="deleteReviewClose()">
        <svg width="22" height="22" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.99998 8.99998L1 1" stroke="white" stroke-width="1" stroke-linecap="round"
                  stroke-linejoin="round"></path>
            <path d="M9.00002 1L1 9.00002" stroke="white" stroke-width="1" stroke-linecap="round"
                  stroke-linejoin="round"></path>
        </svg>
    </button>
    <div class="modal__inner">
        <p class="modal__text">
            Вы действительно хотите удалить отзыв от пользователя "<span id="review_user-name"></span>?"
            Отменить это действие будет невозможно.
        </p>
        <form class="modal__form-actions" action="">
            <div class="modal__buttons">
                <button class="modal__btn" type="button" id="button-delete_cake" onclick="deleteReview()">Удалить
                </button>
                <button class="modal__btn" type="button" id="button-cancel_cake" onclick="deleteReviewClose()">
                    Отмена
                </button>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/js/main.min.js}"></script>
<script th:src="@{/js/reviews.js}"></script>
<script th:src="@{/js/functions/search.js}"></script>
<script>
    setupSearchFromSearchJS('#search-review', '.reviews__list', '/reviews');
</script>
</body>
</html>