<!DOCTYPE html>
<html lang="ru" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head"></head>

<body class="body">
<header th:replace="fragments/header"></header>
<main>
    <section class="shipping indent">
        <div class="container">
            <h1 class="page-title page-title--indent">Доставка и оплата</h1>
            <div class="shipping__content">
                <p>
                    Уважаемые покупатели! Заказы, оформленные за 1 день до желаемого срока изготовления принимаются до
                    19.00. Пожалуйста, учитывайте это при оформлении заказа. Спасибо!
                </p>
                <p>
                    Вы можете заказать наши изделия с доставкой или самостоятельно забрать их из фирменного магазина
                    «HighCakes» по адресу: Белореченск, ул. Ленина, д. 127
                </p>
                <p>
                    Для подтверждения заказа через сайт и согласования времени вручения мы перезвоним вам с 10:00 до
                    19:00 часов. Услуга доставки по городу начинается от 400 рублей. В случае доставки в Краснодарский
                    край цена начинается от 1000 рублей
                </p>
                <p>
                    Нашу продукцию вы можете заказать к удобному времени – курьерская доставка осуществляется с 10:00 до
                    19:00. Доставка к определенному часу осуществляется с 11:00 до 19:00
                </p>
                <p>
                    Самовывоз – ежедневно в порядке живой очереди, с 10:00 до 19:00 по адресу Белореченск, ул. Ленина,
                    д. 127
                </p>
            </div>
        </div>
    </section>
    <section class="indent">
        <div class="container">
            <h2 class="section-title">Упаковка</h2>
            <div class="shipping__content">
                <p>
                    Кондитерские изделия и выпечку мы передаем вам в фирменной упаковке
                </p>
                <p>
                    Мы бесплатно упаковываем торты, пирожные, десерты и пироги весом до 2,5 кг. Если вес заказанного
                    товара превышает 2,5 кг, и вы хотите особенную упаковку, то действуют тарифы по индивидуальной
                    упаковке продукции:
                </p>
                <ul class="shipping__list">
                    <li class="shipping__item">весом от 2,5 до 8 кг – 450 руб.</li>
                    <li class="shipping__item">весом от 8 до 10 кг – 455 руб.</li>
                    <li class="shipping__item">весом от 12 кг – 1500 руб.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="indent">
        <div class="container">
            <h2 class="section-title">Оплата</h2>
            <div class="shipping__content">
                <p>При получении: наличными, картой (Visa, MasterCard, UnionPay, МИР, ПРО100)</p>
                <p>Онлайн-оплата: оплата заказа на сайте после оформления</p>
                <p>Через банковский счет: доступно юридическим лицам</p>
                <p>Заказы стоимостью более 10 000 ₽ выполняются при 100% предоплате</p>
            </div>
        </div>
    </section>
    <section class="deadlines indent">
        <div class="container">
            <h2 class="section-title">Сроки предзаказа</h2>
            <div class="deadlines__content shipping__content">
                <p>
                    Ваш заказ будет изготовлен непосредственно перед вручением, потому что свежесть продуктов и
                    своевременная доставка изделий – наше строгое правило
                </p>
                <p>
                    Мы не храним готовые изделия, не добавляем в них консерванты, вот почему нашим кондитерам так важно
                    заранее спланировать поставки ингредиентов. Именно этим определяется минимальный срок предзаказа – 1
                    день. Срок увеличиться на 1-2 дня, если вам нужен торт нестандартного веса, мастичный торт или торт
                    с мастичной фигуркой
                </p>
                <p>
                    Пожалуйста, учитывайте сроки предзаказа, чтобы мы могли выполнить все ваши пожелания к указанной
                    дате
                </p>
                <p>
                    В предпраздничные дни размещайте заказ на кондитерские изделия и выпечку не менее чем за 7 суток до
                    нужной вам даты. Максимальная загрузка производства: 25–31 декабря, 7–8 января, 8 марта и на
                    пасхальной неделе
                </p>
            </div>
            <p class="deadlines__info">
                Телефон: <a href="tel:+78127645110">+7 (812) 764-51-10</a>
            </p>
        </div>
    </section>
    <section th:replace="fragments/contacts"></section>
</main>
<footer th:replace="fragments/footer"></footer>
<script th:src="@{/js/main.min.js}"></script>
</body>
</html>